@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Noto Serif');
#body {
    margin: 0px 0px 0px 0px;
    font-family: Roboto;
}

.header {
    width: 100%;
    height: 90px;
    font-size: 18px;
    background-color: #000;
    position: fixed;
}

.header .logo {
    float: left;
    position: center;
    padding: 25px 50px 0px 40px;
}

.header .nav_name {
    float: right;
    padding: 25px 10px;
}

.header .nav_name a {
    text-align: center;
    font: "Noto Serif";
    font-size: 18px;
    color: #FFF;
    padding: 0px 10px;
    text-decoration: none;
}

.header .nav_name a:hover {
    color: #4AAB00;
}

.pipe {
    display: inline-block;
    color: #FFF;
    text-align: center;
    font-weight: bold;
}

.button {
    color: #fff;
    font-size: 18px;
    background-color: #4AAB00;
    border-style: none;
    border-radius: 5px;
    padding: 10px 18px;
}

.banner {
    width: 100%;
    height: 800px;
    background-image: url('../images/banner_image.png');
    background-position: center;
}

.banner .b_containt {
    float: left;
    text-align: left;
    padding: 180px 380px 20px 43px;
}

.banner h1 {
    color: #ECFFED;
    font-size: 60px;
    font-weight: Bold;
    font-family: 'Noto Serif';
}

.banner h2 {
    color: #FFFFFF;
    font-size: 20px;
    margin-right: 130px;
    margin-bottom: 50px;
    font-weight: normal;
    font-family: 'Roboto';
}

.about {
    width: 100%;
    height: 900px;
    background-color: #F5F5F5;
}

.ab_containt {
    margin: auto;
    width: 1280px;
}

.about h1 {
    font-size: 60px;
    font-weight: Bold;
    font-family: 'Noto Serif';
    color: hsl(94, 100%, 34%);
}

hr {
    background-color: #4AAB00;
    color: #4AAB00;
    margin: 0px;
    width: 140px;
    height: 2px;
}

.about .ab_containt .left_para {
    width: 550px;
    float: left;
    font-weight: normal;
    font-family: 'Roboto';
    font-size: 24px;
    margin-top: 131px;
    color: #4E4E4E;
}

.about .ab_containt .right_para {
    width: 604px;
    height: 620px;
    float: right;
    background-image: url('../images/about_img.png');
    box-shadow: 15px 15px 40px grey;
    margin-top: 120px;
}

.about .button {
    width: 152px;
    height: 50px;
    margin: 40px 0px 40px 0;
    padding: 15px 25px 15px 25px;
}

.specialities {
    width: 100%;
    height: 870px;
    background-image: url("../images/speciality_bg.jpg");
    text-align: center;
    padding: 1px;
}

.specialities h1 {
    font-size: 60px;
    font-family: 'Noto Serif';
    color: #4AAB00;
    margin-top: 130px;
}

.specialities .s_containt {
    font-size: 24px;
    color: #FFF;
    font-family: 'Roboto';
    font-weight: normal;
}

.specialities .cardrow {
    margin: auto;
    width: 1280px;
    margin-top: 95px;
}

.specialities .cardrow .card_pos {
    float: left;
    padding: 0px 20px 0px 20px;
}

.specialities .cardrow .card img {
    width: 254px;
    height: 220px;
}

.specialities .cardrow .card {
    width: 264px;
    height: 300px;
    padding: 5px;
    background-color: #FFF;
    text-align: center;
    font-family: 'Noto Serif';
    ;
}

.specialities .cardrow .card .price {
    font-size: 24px;
    padding: 20px 0px 5px;
}

.menu {
    width: 100%;
    background-image: url("../images/menu_bg.png");
    text-align: center;
    padding: 1px;
}

.menu h1 {
    font-size: 60px;
    font-family: 'Noto Serif';
    color: #4AAB00;
    margin: 60px 0px 5px;
}

.menu h2 {
    font-size: 24px;
    font-family: 'Roboto';
    color: #52524B;
    font-weight: normal;
}

.menu .m_containt {
    margin: auto;
    width: 1280px;
    text-align: center;
}

.menu .m_containt .menutable {
    margin: auto;
    width: 100%;
    text-align: left;
    padding-top: 85px;
}

.extra1 {
    width: 45%;
    float: left;
}

.extra2 {
    width: 45%;
    float: right;
}

.menu .m_containt .hr {
    margin: auto;
    width: 120px;
}

.menu .m_containt .hr hr {
    background-color: #4AAB00;
    border-color: #4AAB00;
    width: 120px;
    margin-top: 5px;
    height: 1px;
    margin-bottom: 55px;
}

.menu .m_containt .menu_table .hd {
    margin: auto;
    width: 100%;
}

.menu .m_containt .menu_table .hd .l_hd {
    width: 50%;
    float: left;
    text-align: left;
    font-size: 32px;
    color: #4AAB00;
    font-family: 'Noto Serif';
    font-weight: bold;
}

.menu .m_containt .menu_table .hd .item_name {
    width: 50%;
    float: left;
    text-align: left;
    font-size: 24px;
    color: #75C23A;
    font-family: 'Noto Serif';
    font-weight: normal;
    padding-top: 15px;
}

.menu .m_containt .menu_table .item_desc {
    margin: auto;
    width: 100%;
    display: block;
}

.menu .m_containt .menu_table .desc {
    width: 70%;
    float: left;
    text-align: left;
    font-size: 20px;
    color: #717070;
    padding-bottom: 20px;
    font-family: 'Noto Serif';
}

.menu .m_containt .menu_table .price {
    width: 30%;
    float: left;
    text-align: right;
    font-size: 40px;
    color: #4AAB00;
    font-family: 'Noto Serif';
}

.menu .button {
    width: 165;
    height: 55;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 17px 29px 12px 29px;
    margin-top: 85px;
    margin-bottom: 75px;
}

.booking {
    width: 100%;
    background-image: url("../images/footer_bg.jpg");
    background-position: center;
    text-align: center;
    padding: 1px;
}

.booking h1 {
    font-size: 60px;
    font-family: 'Noto Serif';
    color: #4AAB00;
    margin-top: 80px;
}

.booking h2 {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: normal;
    color: #FFF;
    margin-top: 1px;
    padding: 0px 0px 40px;
}

.booking .i_space {
    float: left;
    text-align: left;
    font-family: 'Noto Serif';
    font-size: 22px;
    color: #96DF5F;
    font-weight: normal;
    padding: 0px 20px 0px 20px;
}

.inp {
    margin-top: 5px;
}

form {
    margin: auto;
    width: 1280px;
}

.inp input {
    font-size: 22px;
    font-family: 'Noto Serif';
    color: #F9F9F9;
    height: 44px;
    width: 250px;
    padding-left: 20px;
}

.booking .button {
    width: 245px;
    height: 56px;
    border-radius: 0px;
    color: #FFF;
    font-family: 'Noto Serif';
    margin-top: 86px;
    margin-bottom: 114px;
    text-align: center;
}

.footer {
    width: 100%;
    height: 124px;
    color: #FFF;
    background-color: #000;
    padding: 0px 0px 0px 0px;
}

.footer .f_logo {
    float: left;
    color: #ECFFED;
    padding: 30px;
}

.footer .f_logo .f_containt {
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto';
    padding: 5px 0px;
    font-weight: normal;
}

.footer .social {
    float: right;
    display: block;
}

.footer .social h2 {
    font-family: 'Noto serif';
    font-weight: normal;
    font-size: 20px;
    color: #4AAB00;
    margin-bottom: 5px;
}

.footer .social .icon {
    float: right;
    text-align: left;
    border: solid;
    border-width: 1px;
    width: 32px;
    height: 32px;
    margin: 5px 5px 0px 5px;
}

.footer .social .soc_icn {
    margin-top: 25px;
    margin-right: 80px;
    text-align: center;
}

.fb {
    width: 32px;
    height: 32px;
    background-image: url('../images/fb_icon.png');
    background-position: center;
    background-repeat: no-repeat;
}

.yt {
    width: 32px;
    height: 32px;
    background-image: url('../images/you_tube_icon.png');
    background-position: center;
    background-repeat: no-repeat;
}

.gplus {
    width: 32px;
    height: 32px;
    background-image: url('../images/g_plus_icon.png');
    background-position: center;
    background-repeat: no-repeat;
}

.tw {
    width: 32px;
    height: 32px;
    background-image: url('../images/twitter_icon.png');
    background-position: center;
    background-repeat: no-repeat;
}