@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#body {
    margin: 0px 0px 0px 0px;
}

.clear {
    clear: left;
}

.section {
    width: 100%;
    float: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.containt {
    margin: auto;
    width: 1280px;
    padding-top: 100px;
}

.navigation {
    width: 100%;
    position: fixed;
    background-color: #FFF;
}

.navigation .nav {
    width: 1280px;
    margin: auto;
}

.navigation .logo {
    float: left;
    width: 92px;
    height: 92px;
    margin: 0px 0px 13px 0px;
}

.navigation .infosite p {
    font-size: 12px;
    color: #8D8D8D;
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

.navigation .infosite {
    text-align: right;
    margin-top: 16px;
}

.navigation .navbar {
    font-size: 16px;
    margin: 34px 0px 27px;
}

.navigation .navbar a {
    margin-left: 25px;
    color: #000000;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.banner {
    background-image: url('../images/banner_bg.png');
    margin-top: 118px;
}

.banner h1 {
    font-size: 80px;
    color: #292929;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0px;
    line-height: 80px;
}

.banner h2 {
    font-size: 52px;
    color: #292929;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0px;
    line-height: 52px;
}

.banner h3 {
    font-size: 30px;
    color: #292929;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 30px;
}

.banner .containt {
    margin-bottom: 280px;
}

.about {
    width: 100%;
    background-image: url('../images/logo_symbol.png');
    background-position: right;
    background-size: auto;
}

.about .containt {
    width: 50%;
    float: left;
}

.about .article {
    float: right;
    text-align: left;
}

.about .article #p1 {
    width: 620px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #292929;
    margin-bottom: 41px;
}

.about .article #p2 {
    width: 635px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #636363;
}

.about .colourfull {
    color: #0872BA;
}

.about .lady {
    float: left;
    width: 236px;
    height: 490px;
    margin: 54px 0px 0px 211px;
}

.consultation {
    background-image: url('../images/middle_banner.png');
}

.bg {
    background-color: rgba(8, 114, 186, 0.7);
}

.consultation p {
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 30px;
    margin: 0px;
}

.button {
    font-size: 20px;
    color: #FFF;
    background-color: #F79421;
    padding: 15px 55px 13px 55px;
    margin: 45px 0px 100px 0px;
    border-style: none;
}

.service {
    background-color: #FEFEFE;
    text-align: center;
}

.service h1 {
    font-size: 36px;
    color: #292929;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0px;
}

.service h2 {
    font-size: 20px;
    color: #292929;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.service .services {
    margin-top: 81px;
}

.service .services .card {
    float: left;
    width: 230px;
    height: 157px;
}

.service .services .c {
    margin-left: 120px;
}

.service .containt {
    margin-bottom: 100px;
}

.service .services img {
    width: 44px;
    height: 48px;
}

.service .services h1 {
    font-size: 14px;
    color: #143763;
    margin-top: 15px;
}

.service .services h2 {
    font-size: 12px;
    color: #636363;
}

.border {
    width: 52px;
    border-top: #F79421;
    border-top-style: solid;
    border-width: 2px;
    margin: 5px 0px 10px 89px;
}

.figures {
    background-image: url('../images/figures_bg.png');
}

.figures .cont {
    margin: auto;
    width: 1280px;
}

.figures .heading {
    margin: auto;
    width: 668px;
    padding-top: 100px;
    color: #FFF;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.figures .numbers {
    margin: auto;
    width: 960px;
    padding-bottom: 100px;
}

.figures .numbers .f {
    float: left;
}

.figures .numbers .f h1 {
    font-size: 59px;
    margin: 0px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.figures .numbers .f h2 {
    margin: 0px;
    font-size: 20px;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.figures .numbers .f1 {
    width: 130px;
}

.figures .numbers .f2 {
    width: 87px;
    margin-left: 170px;
}

.figures .numbers .f3 {
    width: 116px;
    margin-left: 170px;
}

.figures .numbers .f4 {
    width: 116px;
    margin-left: 170px;
}

.business .clients {
    width: 50%;
    background-image: url('../images/business.png');
    text-align: right;
}

.business {}

.business .clients {
    margin-top: 0px;
}

.business .clear {
    clear: right;
}

.business .clients .cont {
    float: right;
    width: 640px;
    padding: 189px 0px 64px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.business .clients .cont p {
    margin: 0px;
}

.business .play {
    padding-top: 18px;
}

.business .clients .cont a {
    padding-top: 18px;
    font-size: 22px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.business .clients .clientbar {
    float: right;
    width: 640px;
    height: 97px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: left;
    margin: 0px 0px 20px;
}

.business .clients .clientbar h1 {
    color: #FFF;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0px;
    padding: 16px 0px 4px 22px;
}

.business .clients .clientbar h2 {
    margin: 0px;
    color: #FFF;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 0px 0px 19px 22px;
}

.business .case_study {
    width: 50%;
    float: right;
    background-color: #E6E6E6;
    text-align: left;
}

.business .case_study .containt {
    width: 640px;
    float: left;
    padding-top: 44px;
}

.business .case_study .dell {
    margin: auto;
    text-align: center;
    width: 126px;
    height: 126px;
}

.business .case_study .dell img {
    padding-bottom: 19px;
}

.business .case_study .cont {
    margin: auto;
    width: 640px;
    text-align: center;
    color: #143763;
    font-family: 'Lato', sans-serif;
    font-family: 400;
    padding-bottom: 69px;
}

.business .case_study .cont a {
    font-size: 22px;
    color: #143763;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.business .case_study .clientbar {
    float: left;
    width: 640px;
    height: 97px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: right;
    margin: 0px 0px 20px;
}

.business .case_study .clientbar h1 {
    color: #292929;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0px;
    padding: 16px 24px 4px 0px;
}

.business .case_study .clientbar h2 {
    margin: 0px;
    color: #292929;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 0px 24px 19px 0px;
}

.people {
    width: 100%;
    background-image: url('../images/logo_symbol.png');
    background-position: left;
    background-size: 50%;
}

.people .bg {
    width: 100%;
    background-color: rgba(39, 39, 39, 0.9);
}

.people .heading {
    padding: 68px 0px 74px 0px;
}

.people .heading h1 {
    margin: 0px;
    color: #FFF;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.people .heading h2 {
    margin: 0px;
    color: #FFF;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.people .photobar {
    width: 100%;
    background-color: rgba(141, 141, 141, 0.6);
}

.people .photobar .photos {
    width: 1280px;
    margin: auto;
}

.people .photobar .photos .image {
    float: left;
    width: 180px;
    height: 180px;
    padding: 17px 0px 10px;
}

.people .photobar .photos .i {
    margin-left: 45px;
}

.people .photobar .photos .l {
    margin-left: 100px;
}

.people .photobar .photos .image img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 8px 8px 10px #00000029;
}

.people .photobar .photos .auro {
    float: left;
    width: 30px;
    height: 30px;
    color: #FFF;
    border-style: solid;
    border-width: 2px;
    margin: 90px 0px 0px 65px;
}

.people .photobar .photos .auro img {
    margin: 9px 7px 9px 7px;
}

.people .scrolldot {
    margin: auto;
    width: 54px;
}

.people .scrolldot .dot {
    width: 14px;
    height: 14px;
    float: left;
    background-color: #FFF;
    margin: 65px 2px 65px 2px;
    border-radius: 50%;
}

.people .scrolldot .dot2 {
    opacity: 20%;
}

.message .containt h1 {
    margin: 0px;
    padding: 0px 0px 68px 0px;
    font-size: 40px;
    color: #292929;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.message .input {
    float: left;
    margin-bottom: 69px;
}

.message .inp {
    float: left;
    width: 300px;
    border-radius: 20px;
}

.message .containt input {
    width: 272px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #292929;
    padding: 10px 13px 10px 13px;
    border-color: #686868;
    border-width: 1px;
}

.message .a input {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.message .b input {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.message .border {
    float: left;
    width: 26px;
    margin: 22px 0px 0px 0px;
    border-color: #686868;
}

.message .button {
    font-size: 20px;
    padding: 16px 75px 16px 75px;
}

.footer {
    width: 100%;
    margin: auto;
    background-color: #363636;
}

.footer .navbar {
    font-size: 14px;
    padding: 28px 0px 28px 0px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #3D3D3D;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.footer .navbar a {
    color: #FFF;
    text-decoration: none;
    margin-left: 25px;
}

.footer .footerinfo {
    border-bottom-style: solid;
    border-width: 2px;
    background-image: url('../images/logo_symbol.png');
    border-color: #363636;
    background-position: left;
    background-repeat: no-repeat;
}

.footer .bg {
    width: 100%;
    background-color: rgba(21, 21, 21, 0.6);
}

.footer .containt {
    padding: 51px 0px 50px 0px;
}

.footer .info {
    float: left;
    text-align: left;
    width: 250px;
    color: #FFF;
}

.footer .l {
    margin-left: 93px;
}

.footer .info h1 {
    margin-top: 0px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.footer .info a {
    margin: 8px;
    margin-left: 0px;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #BEBEBE;
    text-decoration: none;
}

.footer .info a:hover {
    color: #FFF;
}

.copywrite {
    width: 100%;
    height: 50px;
    font-size: 12px;
    background-color: #363636;
}

.copy {
    width: 1280px;
    margin: auto;
}

.copywrite .ctext {
    float: left;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: #FFF;
    margin-top: 5px;
}

.copywrite .sicon {
    float: right;
    margin-top: 12px;
}

.copywrite .icon img {
    margin-left: 10px;
}