@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
#body {
    margin: 0px;
}

.cleardiv {
    clear: left;
}

.section {
    float: left;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    width: 100%;
    background-color: #000;
    position: fixed;
}

.header .logo {
    float: left;
    padding: 25px 0px 25px 80px;
}

.header .nav_menu {
    float: right;
}

.navbar {
    float: left;
}

.navbar a {
    color: #FFF;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding: 0px 15px 0px 15px;
    text-decoration: none;
}

.link {
    float: left;
    font-size: 18px;
    color: #FFF;
    margin: 35px 60px 24px 0px;
}

.micon {
    float: left;
    margin: 35px 30px 24px 0px;
}

.but {
    float: left;
    margin: 24px 80px 24px 0px;
}

.header .button {
    width: 120px;
    height: 42px;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #4AAB00;
    border-style: none;
    border-radius: 5px;
    padding: 11px 27px 11px 27px;
}

.banner {
    height: 800px;
    background-image: url('../images/banner_image.png');
    margin-top: 94px;
}

.banner .b_containt {
    margin: auto;
    width: 1280px;
}

.banner .b_containt .containt {
    width: 745px;
    color: #FFF;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
}

.banner .head {
    margin-top: 233px;
    color: #ECFFED;
    font-size: 60px;
    font-weight: Bold;
    font-family: 'Noto Serif', serif;
}

.button {
    border-style: none;
    background-color: #4AAB00;
    color: #FFF;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.banner .button {
    width: 164px;
    height: 50px;
    margin: 50px 0px 233px;
}

.about {
    background-color: #F5F5F5;
}

.head {
    font-size: 60px;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    color: #4AAB00;
}

.border {
    width: 160px;
    border-top: #4AAB00;
    border-top-style: solid;
    border-width: 2px;
}

.about .ab_containt .left_para {
    width: 550px;
    float: left;
    margin-top: 131px;
}

.about .ab_containt .left_para .para {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #4E4E4E;
}

.about .ab_containt .right_para {
    float: right;
    margin-top: 120px;
    margin-bottom: 160px;
}

.about .ab_containt .right_para img {
    box-shadow: 20px 20px 30px #2727276B;
}

.about .button {
    width: 152px;
    height: 50px;
    border-radius: 4px;
    margin-top: 64px;
}

.specialities {
    text-align: center;
    background-image: url("../images/speciality_bg.jpg");
}

.specialities .head {
    margin-top: 130px;
}

.specialities .s_containt {
    margin: auto;
    width: 1280px;
    font-size: 24px;
    text-align: center;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.specialities .cardrow {
    margin: auto;
    width: 1280px;
}

.specialities .cardrow .row {
    width: 100%;
    margin-top: 90px;
    margin-bottom: 196px;
}

.specialities .cardrow .card_pos {
    float: left;
    padding: 0px 28px 0px 28px;
}

.specialities .cardrow .card {
    width: 264px;
    padding: 5px 0px 0px 0px;
    background-color: #FFF;
    font-family: 'Noto Serif', serif;
}

.specialities .cardrow .card .price {
    font-size: 24px;
    padding: 24px 0px 24px;
}

.menu {
    background-image: url("../images/menu_bg.png");
}

.menu .head {
    text-align: center;
    margin-top: 115px;
}

.menu .border {
    margin: auto;
    width: 120px;
    border-width: 3px;
}

.menu .m_containt {
    font-size: 24px;
    color: #52524B;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.menu .table {
    margin: auto;
    width: 1280px;
}

.extra1 {
    width: 45%;
    float: left;
    margin-top: 84px;
}

.extra2 {
    width: 45%;
    float: right;
    margin-top: 84px;
}

.menu .l_hd {
    width: 50%;
    font-size: 32px;
    color: #4AAB00;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}

.menu .table .border {
    float: left;
    width: 100px;
    border-width: 3px;
}

.menu .item_name {
    font-size: 24px;
    color: #75C23A;
    font-family: 'Noto Serif', serif;
    font-weight: normal;
    padding-top: 15px;
}

.menu .desc {
    width: 70%;
    float: left;
    font-size: 20px;
    color: #717070;
    padding-bottom: 20px;
    font-family: 'Noto Serif', serif;
    clear: left;
}

.menu .price {
    width: 30%;
    float: left;
    text-align: right;
    font-size: 40px;
    color: #4AAB00;
    font-family: 'Noto Serif', serif;
}

.menu .butt {
    text-align: center;
}

.menu .button {
    width: 165px;
    height: 55px;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    margin-top: 148px;
    margin-bottom: 85px;
    font-family: 'Roboto', sans-serif;
}

.booking {
    background-image: url("../images/footer_bg.jpg");
    text-align: center;
}

.booking .head {
    margin-top: 105px;
}

.booking .b_containt {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #F5F5F5;
    margin-top: 5px;
}

.ab_containt {
    margin: auto;
    width: 1280px;
}

.lbl {
    margin-bottom: 14px;
    text-align: left;
}

label {
    color: #96DF5F;
    font-size: 22px;
    font-family: 'Noto Serif', serif;
}

.booking .i_space {
    float: left;
}

form {
    margin-top: 68px;
    margin-bottom: 85px;
}

.i1 {
    margin-left: 38px;
}

.sub {
    clear: left;
}

.inp input {
    width: 261px;
    font-size: 22px;
    font-family: 'Noto Serif', serif;
    color: #000;
    padding: 10px 13px 10px 13px;
}

.booking .button {
    width: 245px;
    height: 56px;
    border-radius: 0px;
    color: #FFF;
    font-family: 'Noto Serif', serif;
    margin-top: 86px;
    text-align: center;
}

.footer {
    float: left;
    width: 100%;
    height: 124px;
    color: #FFF;
    background-color: #000;
}

.footer .f_logo {
    float: left;
    clear: left;
    color: #ECFFED;
    padding: 33px 0px 0px 80px;
}

.footer .f_logo .f_containt {
    clear: left;
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding: 5px 0px;
    font-weight: normal;
}

.footer .social {
    float: right;
    display: block;
    text-align: center;
}

.footer .social h2 {
    font-family: 'Noto Serif', serif;
    font-weight: normal;
    font-size: 20px;
    color: #4AAB00;
    margin-bottom: 5px;
}

.footer .social .icon {
    float: left;
    border: solid;
    border-width: 1px;
    width: 32px;
    height: 32px;
    margin: 5px 5px 0px 5px;
}

.footer .social .soc_icn {
    margin-top: 25px;
    margin-right: 80px;
}

.si {
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
}

.fb {
    background-image: url('../images/fb_icon.png');
}

.yt {
    background-image: url('../images/you_tube_icon.png');
}

.gplus {
    background-image: url('../images/g_plus_icon.png');
}

.tw {
    background-image: url('../images/twitter_icon.png');
}